$black_000: #000000;
$black_111: #111111;
$darkslategray_373737: #373737;
$greenyellow_baff1b: #baff1b;
$lightgray_cecece: #cecece;
$white_fff: #ffffff;
$border: 1px solid $white_fff;
$menu-height: 680px;
$menu-width: 680px;

body {
  background: $black_000;
  background-repeat: no-repeat;
  background-size: 100%;
  color: $lightgray_cecece;
  width: 100%;
  animation: .30s ease-in FadeIn;
}

body.inactive {
  overflow: hidden;
}

#wrapper {
  margin: 0 auto;
  width: 1200px;
}

#section1 {
  position: relative;
  width: 1200px;
}

#menu {
  bottom: 0;
  height: $menu-height;
  left: 87px;
  position: absolute;
  width: $menu-width;
  z-index: 120;
}

.sidebar {
  position: absolute;
  bottom: 0;
  left: -1px;
  width: $menu-width;

  img {
    width: 100%;
  }
}

.about {
  left: 27px;
  position: absolute;
  top: 90px;
  width: 140px;
}

.blog {
  left: 175px;
  position: absolute;
  top: 90px;
  width: 223px;
}

.art {
  left: 405px;
  position: absolute;
  top: 90px;
  width: 270px;
}

.more {
  left: 140px;
  position: absolute;
  top: 302px;
  width: 540px;
}

.button {
  filter: grayscale(100%);
  transition: filter .2s;
  z-index: 110;

  img {
    width: 100%;
  }

  &:hover {
    filter: grayscale(0%) hue-rotate(360deg);
  }
}

// CHARCTER PIXELS:
// these are the character pixels that sit on top of the "sidebar"
.charpixel {
  display: flex;
  flex-direction: row;
  z-index: 110;
  position: absolute;
  top: -72px;
  left: 10px;
  gap: 5px;
  align-items: baseline;
  filter: grayscale(100%);

  img {
    &:hover {
      animation: bounce .2s linear;
    }
  }
}

// SIDE MENU 
.menu {
  width: 25%;
  position: absolute;
  right: 0px;
  bottom: 25px;
  display: flex;
  flex-direction: column;
  gap: 5px;

  a {
    text-decoration: none;
  }

  .item {
    background-color: #000000;
    border: $border;
    border-right: none;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 10px;
    padding: 5px;
    padding-left: 1em;
    color: #fff;
    transition: background-color .10s, transform .10s;
    display: flex;
    align-items: center;
    font-family: "IBM-DOS";
  }

  .item:hover {
    transform: translateX(-50px);
  }

  .itemtext {
    font-size: 12px;
  }
}

.menu::after {
  content: ".";
  background: #000;
  color: #000;
  position: absolute;
  right: -1px;
  width: 29.5%;
  height: 100%;
}

//POPUPS
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.836);
  backdrop-filter: blur(15px);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0, 0);

  .popup-content {
    width: 50%;
    height: 70%;
    background: #000000;
    border: $border;
    padding: 5px;
    position: relative;


    iframe {
      width: 100%;
      height: 100%;
      border: none;
    }
  }
}

.popup:target {
  transform: scale(1, 1);
  z-index: 999;
}

//POPUP UI
.close {
  position: absolute;
  top: 0;
  left: 10px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.close::after {
  content: 'x';
  color: white;
  font-size: 20px;
}

// BACKGROUND "CHUNKS"
// They are in chunks to improve loading speeds. It's also flexible for different resolutions also.
#header {
  background: linear-gradient(360deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, .4784313725)),
    url(/assets/index/top.webp);
  height: 200px;
}

#middle1 {
  background: url(/assets/index/middle1.webp);
  height: 300px;
}

#middle2 {
  background: url(/assets/index/middle2.webp);
  min-height: calc(100vh - 700px);
}

#bottom {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, .4784313725)),
    url(/assets/index/bottom.webp);
  height: 200px;
}

//SECTION1 - END

//SECTION2
#section2 {
  background: $black_000;
  height: 100vh;
  padding: 1em;

  .header {
    font-family: "IBM-BIOS";
    font-size: 13px;
  }

  .main {
    width: 80%;
    margin: 0 auto;
    padding: 1em;

    .box {
      border: $border;
      padding: 1em;
      height: 100%;
      width: 100%;

      textarea {
        background: $black_111;
        border: 1px solid $darkslategray_373737;
        border-radius: 2px;
        color: $greenyellow_baff1b;
        padding: 1em;
        width: 100%;
      }

      iframe {
        width: 100%;
        height: 100%;
        border: none;
      }
    }
  }

  .parent {
    display: flex;
    gap: 10px;
  }

  .div1 {
   width: 45%;
  }

  .div2 {
    width: 70%;
    margin-left: 20px;

    .link {
      z-index: 500;
      position: relative;
      top: 20px;

    .text {
      position: absolute; 
      font-family: "IBM-DOS";
      font-size: 10pt;
      z-index: 600;
      padding: 5px;
      top: 50px;
      left: 5px;
      width: 35.7%;
      height: 225px;
      color: rgb(0, 0, 0);
      overflow-y: auto;
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
    }

    .link-back-buttons {
      display: flex; 
      flex-direction: column;
      justify-content: center;
      width: 100%;
      padding: 1em;
    }
    
    }

    .text::webkit-scrollbar {
      display: none; 
    }
  
    .entry {
      padding: 10px;
      width: 50%;
    }

    .button {
      display: flex;
      justify-content: center;
      padding: 15px;

      img {
        width: 100px;
      }
    }
  }

  .div3 {
    width: 100%;
    margin-top: 2em;
    border: $border;
  }


  .construction {
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
    width: 80px;
    filter: grayscale(100%);
  }
}
}